.redBannerBg {background: url('../../shared/wow-com/images/headers/dateheader/dateheader-bg.gif') repeat-x; height:38px; width:100%;}
.redBannerLeft {background: url('../../shared/wow-com/images/headers/dateheader/dateheader-left.gif') repeat-x; height:38px; width:31px; float:left;}
.redBannerRight {background: url('../../shared/wow-com/images/headers/dateheader/dateheader-right.gif') repeat-x; height:38px; width:17px; float:right;}
.redBannerLabel {padding-top: 8px; vertical-align: middle; float:left; font-family: palatino, georgia, times new roman, serif;	font-size: 13pt; color: #FCEAC6; FILTER: Glow(Color=#000000, Strength=8); width: 400px;}
			
#contentContainer{font-size: 10pt; font-family: arial,helvetica,sans-serif;}
#pageContentContainer{position: absolute; top:0px; width:100%; text-align:center;}
#pageContent{position: relative; padding-left: 214px;  padding-right: 58px; margin-top: 93px; text-align:left; display: block; width:713; }
table.collapsed{ display:none; }
table.expanded{ display:block; }
#hp { width: auto; margin: -85px auto 0; text-align:left; }
#navWrapper, #mainWrapper { display: table-cell; }
#navWrapper { position: relative; z-index: 1; }
#contentPadding { margin-left: 17px; margin-right: 19px; margin-top:-12px; }
div.top-nav-container { position: relative; height: 60px; display: block; width:955px; }
div.top-nav { position: absolute; right: 17px; top: 3px; z-index: 3; }
#main { background: url(../../shared/wow-com/images/parchment/plain/light2.jpg) repeat 0 0; }
#main-top { height: 46px; width: 100%; background: url('../images/new/border-top.gif') repeat-x 0 0; position: relative; top:1px; }
#main-top div { height: 46px; background: url('../images/new/border-top-left.gif') no-repeat top left; }
#main-top div div { height: 46px; background: url('../images/new/border-top-right.gif') no-repeat top right; }
#main-content-wrapper { background: url('../images/new/border-left.gif') repeat-y 0 0; height: auto; }
#main-content { height: auto; background: url('../images/new/border-right.gif') repeat-y top right; }
#cnt { width: 715px; min-height:700px; _height:700px;}
#main-bottom { height: 75px;  width: auto; background: url('../images/new/border-bot.gif') repeat-x 0 0; text-align:center; }
#main-bottom div { height: 75px; background: url('../images/new/border-bot-left.gif') no-repeat top left; }
#main-bottom div div { height: 75px; background: url('../images/new/border-bot-right.gif') no-repeat top right; }
#main-content-wrapper:after, #main-content:after, #main-content div:after, #hp-wrapper:after, table#generalNews p:after, #threeCol-teasers:after, .news-entry:after, .community-cnt:after, #leftMenu:after, .flashButton:after { display: block; clear: both; height: 0; font-size: 1px;  content: " "; }
#cnt, #marginal { float: left; }
#container-community, #container-generalNews, #threeCol-teasers, #imageSwitcher, #container-service { padding-bottom: 12px; }
#ssotd-container,  #don-container, #gameinfo-bg-container, #gameinfo-don-container, #gameinfo-newcomers-container, #gameinfo-underdev-container, #container-pvpRankings { margin-top: 15px; }
#quicklinks { margin-top: 2px; }
#imageSwitcher { display: block; position: relative; height: 190px;	width: 470px; }
#flashContainer { position: absolute; top: -116px; left: -12px;	width: 520px; height: 269px; }