
.left { float: left; }
.redButton-container {display: block;height:25px; }
.leftNopadd { float: left; margin:0px; padding:0px; }
.nopadd { margin:0px; padding:0px; }
.right { float: right; }
img { border: none 0; }
img.block { display: block; }
.hide { width: .1em; height: 1em; overflow: hidden; position: absolute; display: none; }
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; background-repeat: no-repeat; text-decoration: none; }
h4 span, h3 span, .arrow-readmore span, .button-readmore a span, a em { display: none; }
object { padding: 0; margin: 0; }


/* links - specificity: "LVHAF"! */
a { text-decoration: underline; }
a:link { background-color: transparent; color: #1E4378; }
a:visited { background-color: transparent; color: #1E4378; }
a:hover { color: #C60000; }
a:active, a:focus { background-color: transparent; color: #600; text-decoration: underline; }
a.bright { color: #E0B800; font-size: 10px; }
a.bright:visited { color: #E0B800; }
a.bright:hover { color: #fff; }

a.menuFiller { color: #D0A803; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; }
a.menuFiller:link { color: #D0A803; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; }
a.menuFiller:visited { color: #D0A803; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; }
a.menuFiller:active { color: white; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; }
a.menuFiller:hover { color: white; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; }


a.menuLink, a.menuLink:link, a.menuLink:visited { color: #F4C400; font-weight:bold; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; width:120px; display:block;}

a.subMenuLink, a.subMenuLink:link, a.subMenuLink:visited { color: white; font-weight:normal; text-decoration: none; font-family:arial,comic sans ms,technical; font-size: 11px; width:100px; display:block;}


hr { display: none; height: 1px; border: 0; padding: 0; margin: 0; clear: both; }
ul.none, ul.link-list, ul.mainNav { list-style-type: none; padding: 0; margin: 0;}
ul.none li,ul.link-list li,ul.mainNav li { padding: 0; margin: 0; }
select { font-size: 10px; }
optgroup { font-style: normal; }