
#wow-logo { background: url('../images/wowlogo-horde.gif') no-repeat; }
.select-theme { display: block; width: 98px; height: 26px; background: url('../images/theme-select-horde.jpg') no-repeat !important; }
.alliance { display: block; width: 38px; height: 25px; background: url('../images/theme-icon-alliance0.gif') no-repeat !important; margin-left: 55px; }
.horde { display: block; width: 38px; height: 50px; background: url('../images/theme-icon-horde1.png') no-repeat !important; _background: url('../images/theme-icon-horde1.jpg') no-repeat !important; margin-left: 55px; }


#ne-top-left { 
	background: none !important; 
	position: absolute; 
	top: -15px; 
	left: -180px; 
	height: 275px; 
	width: 134px; 
	}
#ne-center { 
	background: url('../images/orc-center.jpg') no-repeat !important; 
	position: absolute; 
	top: -45px; 
	_top: -6px !important; 
	left: -127px;
	_left: -122 !important; 
	height: 453px !important; 
	width: 142px !important; 
	}
#ne-bottom-left { 
	background: none !important; 
	position: absolute; 
	top: 260px; 
	left: -180px; 
	height: 229px; 
	width: 134px; 
	}
#ne-nav-bg { 
	background: url('../images/orc-nav-bg.jpg') no-repeat !important; 
	position: absolute; 
	top: -40px ; 
	_top: 3px !important;
	left: 15px; 
	_left: 20px !important;
	height: 546px; 
	width: 157px; 
	}