		BODY 		{ BACKGROUND-COLOR: black;  MARGIN: 0px;}
		
        span		{ font-family: Arial,Helvetica,Sans-Serif; color: #CCCCCC; font-size: 10pt; }
		span.grey	{ font-family: Arial,Helvetica,Sans-Serif; color: #A2BABD; font-size: 9pt; }
		small	 	{ font-family: Arial,Helvetica,Sans-Serif; color: #c1c1c1; font-size: 8pt; }
		small.grey 	{ font-family: Arial,Helvetica,Sans-Serif; color: #A2BABD; font-size: 8pt; }
		small.date 	{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-size: 8pt; }	
		
		b			{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; font-style: normal; font-size: 9pt; }		
		
		a:link			{ font-family: Arial,Helvetica,Sans-Serif; color: #FFAC04; font-weight: bold; }
		a:hover			{ color: #ffffff; font-weight: bold; }
		a:active		{ font-family: Arial,Helvetica,Sans-Serif; color: #FF0000; font-weight: bold; }
		a:visited		{ font-family: Arial,Helvetica,Sans-Serif; color: #FFAC04; font-weight: bold; }
		a:visited:hover	{ color: #ffffff; font-weight: bold; }
		
		a.tiny:link		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFAC04; font-size: 6pt;}
		a.tiny:hover	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-size: 6pt;}
		a.tiny:active 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FF0000; font-size: 6pt;}
		a.tiny:visited 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFAC04; font-size: 6pt;}
		a.tiny:visited:hover 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-size: 6pt;}		
		
		table.list td 	 	{ font-family: Arial,Helvetica,Sans-Serif; color: #c1c1c1; font-size: 8pt; vertical-align:top }   
		
		
		#head		{ POSITION: absolute; WIDTH: 100%; }
		
		
		li			{list-style-type: square;}
		
		
		#class-list-d, #class-list-b  { position: absolute; top: -195px; display: block; height: 188px; width: 171px; }
		#class-list-d img, #class-list-b img { border: 0 }
		#class-list-d h1, #class-list-b h1 { width: 171px; height: 65px; margin: 0; padding: 0; }
		#class-list-d h1 span, #class-list-b h1 span { display: none; }
		#class-list-d .class-body, #class-list-b .class-body {  width: 171px; height: 93px; }
		#class-list-d ul, #class-list-b ul { margin: 0 0 0 17px; padding: 0; list-style: none; clear: left; }
		#class-list-d ul li, #class-list-b ul li { float: left; list-style-type: none; margin-bottom: -4px; margin-left: 1px; }
		#class-list-d h2, #class-list-b h2 { width: 171px; height: 30px; margin: 0; padding: 0; }
		#class-list-d { right: -55px; _right: -35px; }
		#class-list-b { right: -46px; _right: -37px; }
		
		img.png { behavior: url("pngBehavior.htc") }