
#indexLow { position: relative;
	z-index: 1;
}	

#indexHigh { position: relative;
	z-index: 5000;
}	
	   
#indexHighest { position: relative;
	z-index: 10000;
     }
 
#wrapper { position: relative;
	z-index: 100;
     }	

#wrapper99 { position: relative;
	z-index: 99;
     }	

#wrapper3 {
	position: relative;
			z-index: 100;
}


#wrapper4 {
	position: relative;
	Z-INDEX: 10002;
}

#wrapperLow {
	position: absolute;
	z-index: 1;
}

#wrapper2 {
	position: absolute;
}

#wrapperRight {
	position: absolute;
		left: 5px;	
}

#wrapperMenu {
	position: relative;
	z-index: 10003;
} 

#wrapperMenu2 {
	position: relative;
	z-index: 10004;
} 

#divMenu {
	position: relative;
	width: 117;
	z-index: 1;

}

#divTop {
	position: absolute;
	top: 7px;
	left: -358px;
	z-index: 100;
}

#translucent {
background:black;
filter:alpha(opacity = 75);
-moz-opacity:.75;
opacity:.75;
	}
 
	#shadow1 {
		margin-top: 5px;
		background-color: #6B665B;
		border-width: 1px;
		border-style: solid;
		border-color: #C5BBA7;
		width:100%;

	}


	#shadow2 {

		position: relative;
		top: -3px;
		left: -3px;
	}

	body {
		margin:0px 0px 0px 0px;
		background-color:#000000;

		}

	span{ font-family: Arial,Helvetica,Sans-Serif; line-height:140%;}

	b   { font-family: Arial,Helvetica,Sans-Serif; font-weight: bold; font-style: normal;  }

	.white  { color: white; }

	small 	{ 	font-family: verdana, arial, sans-serif;

			font-size:8pt;
			font-weight:normal;
		}

		.newsCurrentHeadline 	{ 	font-family: verdana, arial, sans-serif;

			font-size:8pt;
			font-weight:normal;
			line-height: 1.5;
		}
		
	.smallFront 	{ 	font-family: verdana, arial, sans-serif;
			font-size:8pt;
			line-height: 1.4;
			font-weight:normal;
		}		

	.newsContent 	{ 	font-family: tahoma, verdana, arial, sans-serif;
			font-size:12;
			line-height: 1.4;
		}
		
	.smallBold {
		font-family:verdana, arial, sans-serif;
		font-size:11px;
		font-weight:bold;

	}

	.headerSmallBold {
		font-family:arial, sans-serif;
		font-size:11px;
		font-weight: bold;
		font-color: 002E6D;
		text-decoration: none;

	}
	
	small.menu 	{

			font-family:  arial,verdana, sans-serif;
			color: CBA300;
			font-size:8pt;
			font-weight:normal;
		}

	.menu 	{

			font-family:  arial,verdana, sans-serif;
			color: CBA300;
			font-size: 8pt;
			font-weight:bold;
		}		
		
	small.tiny 	{

			font-family:  Tahoma, Arial, Helvetica, sans-serif;

			font-size:7pt;

		}


	p       {   margin-left:0px; margin-right:0px; margin-top:15px; margin-bottom:0px;  }


	span.date{ 	font-family: Courier New, sans-serif, verdana, arial;
			color:#E7CF9E;
			font-size:12pt;
			font-weight:bold;
			font-variant: small-caps;
			letter-spacing: 2px;


		}

	TD.bevel {

		border-width: 2px; border-style: solid; border-color: #FFF7E5 #877D69 #877D69 #FFF7E5;
		padding: 2px;

	}

	.error { color: #FF0000; font-weight: bold; }

	A 			{ color: #003366; text-decoration: underline; font-weight: bold;}
	A:link		{ color: #003366; text-decoration: underline; font-weight: bold;}
	A:visited	{ color: #602515; text-decoration: underline; font-weight: bold;}
	A:active	{ color: #C60000;  }
	A:hover		{ color: #C60000;  }

	A 			img.link{ border: 2px groove #003366; }
	A:link		img.link{ border: 2px groove #003366;	}
	A:visited	img.link{ border: 2px groove #003366;	}
	A:active	img.link{ border: 2px groove #003366; }
	A:hover		img.link{ border: 2px groove #003366; }

	A.white 			{ color: #FFFFFF; text-decoration: underline; font-weight: bold;}
	A.white:link		{ color: #FFFFFF; text-decoration: underline; font-weight: bold;}
	A.white:visited		{ color: #FFFFFF; text-decoration: underline; font-weight: bold;}
	A.white:active		{ color: #FFFFFF;  }
	A.white:hover		{ color: #FFFFFF;  }	
	
	A.solidColor 			{ color: #003366; text-decoration: underline; font-weight: bold;}
	A.solidColor:link		{ color: #003366; text-decoration: underline; font-weight: bold;}
	A.solidColor:visited	{ color: #003366; text-decoration: underline; font-weight: bold;}
	A.solidColor:active		{ color: #C60000;  }
	A.solidColor:hover		{ color: #C60000;  }

	A.newsItem 			{ color: #003366; text-decoration: none; font-weight: bold; font-size: 12; font-family: tahoma, verdana, arial;}
	A.newsItem:link		{ color: #003366; text-decoration: none;}
	A.newsItem:visited	{ color: #000F39; text-decoration: none;}
	A.newsItem:active	{ color: #C60000; text-decoration: underline;}
	A.newsItem:hover	{ color: #C60000; text-decoration: underline;  }	

	A.linkFront 			{ color: #000F39; text-decoration: none; font-weight: bold; font-size: 12; font-family: arial, verdana; line-height: 1.5; letter-spacing: .95;}
	A.linkFront:link		{ color: #000F39;}
	A.linkFront:visited	{ color: #000F39;}
	A.linkFront:active	{ color: #000F39;}
	A.linkFront:hover	{ color: #C60000; text-decoration: underline;  }	

	A.linkSmall 			{ color: #000F39; font-weight: bold; font-size: 12; font-family: arial, verdana; line-height: 1.5; letter-spacing: .95;}
	A.linkSmall:link		{ color: #000F39;}
	A.linkSmall:visited	{ color: #000F39;}
	A.linkSmall:active	{ color: #000F39;}
	A.linkSmall:hover	{ color: #C60000;}		

	A.linkPlain	{ color: #003366; text-decoration: underline; font-weight: normal;}
	A.linkPlain:link		{ color: #003366; text-decoration: underline; font-weight: normal;}
	A.linkPlain:visited	{ color: #602515; text-decoration: underline; font-weight: normal;}
	A.linkPlain:active	{ color: #C60000;  font-weight: normal;}
	A.linkPlain:hover		{ color: #C60000;  font-weight: normal;}
	
	A.linkCommunity 			{ color: #000F39; text-decoration: none; font-weight: bold; font-size: 11; font-family: verdana, arial; line-height: 1.4;}
	A.linkCommunity:link		{ color: #000F39; text-decoration: none; }
	A.linkCommunity:visited	{ color: #000F39; text-decoration: none;}
	A.linkCommunity:active	{ color: #000F39; text-decoration: none; }
	A.linkCommunity:hover	{ color: #C60000; text-decoration: underline;  }	
	
	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	.title	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 13pt;
			color: #640909;
		}

	.guideTitle	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 13pt;
			color: #640909;

		}
		
	.guideTitleSmall	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 9pt;
			color: #747474;

		}
		
			.guideTitleSmall2	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 9pt;
			color: #333333;

		}		

	.titleLight	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 13pt;
			color: #FCEAC6;
			FILTER: Glow(Color=#000000, Strength=8);
			width: 400px;
		}

	.titleLight2	{
			font-family: palatino, georgia, times new roman, serif;
			font-size: 13pt;

			color: #FCEAC6;
			FILTER: Glow(Color=#000000, Strength=8);
			width: 340px;
		}

	A.title			{ color: #003366; font-family: palatino, georgia, times new roman, serif;text-decoration: underline; font-weight: bold;font-size: 13pt;}
	A.title:link	{ color: #003366; font-family: palatino, georgia, times new roman, serif;text-decoration: underline; font-weight: bold;font-size: 13pt;}
	A.title:visited	{ color: #484848; font-family: palatino, georgia, times new roman, serif;text-decoration: underline; font-weight: bold;font-size: 13pt;}
	A.title:active	{ color: #C60000;  }
	A.title:hover	{ color: #C60000;  }


	.titleSm	{
		font-family: palatino, georgia, times new roman, serif;
		font-size: small;
		color: #640909;
		}

	.posted	{
		font-family:verdana, arial, sans-serif;
		font-size: x-small;
		color: #200F01;
		margin-bottom:25px;
		}



	.blogbody {
		font-family:arial,palatino, georgia, verdana, arial, sans-serif;
		color:#200F01;
		padding:5px;

		font-size: 10pt;
		font-weight: normal;
		background-image: url('../images/parchment/plain/light.jpg');

		border-style: solid; border-color: #000000; border-width: 0px; border-bottom-width:1px; border-top-width:1px;
		background-color: #E7CFA3;
  		line-height:140%;
		}

.postContainer {
			font-family:arial,palatino, georgia, verdana, arial, sans-serif;
			color:#000000;
			padding:5px;
			margin-right: 14px;
			margin-bottom: 4px;
			font-size: x-small;
			font-weight: normal;
			background-color: #E7CFA3;
			background-image: url('../images/parchment/plain/light.jpg');
			border-style: solid; border-color: #000000; border-width: 0px; border-bottom-width:1px; border-top-width:1px;

 			line-height:140%;
	}

.postContainerPlain {
			font-family:arial,palatino, georgia, verdana, arial, sans-serif;
			color:#000000;
			padding:5px;
			margin-bottom: 4px;
			font-size: 13px;
			font-weight: normal;
			background-color: #E7CFA3;
			background-image: url('../images/parchment/plain/light.jpg');
			border-style: solid; border-color: #000000; border-width: 0px; border-bottom-width:1px; border-top-width:1px;

 			line-height:100%;
	}

	

.boxHeader {
			padding:0px;
			margin: 0px;
			background-color: #000D30;
			border-style: solid;
			border-color: #776C55;
			border-bottom-width: 1px;
			border-top-width: 1px;
			border-left-width: 1px;			
			border-right-width: 1px;			

	}	
	
.cellBox {
			font-family:arial,palatino, georgia, verdana, arial, sans-serif;
			color:#000000;
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			font-size: x-small;
			font-weight: normal;
			background-color: #E7CFA3;
			background-image: url('../images/parchment/plain/light.jpg');
			border-style: solid; border-color: #776C55; border-width: 0px; border-bottom-width:1px; border-top-width:0px;
			border-right-color: #D3BE97;
			border-right-width:1px;
 			line-height:140%;
	}	

.boxShadowOutside {
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			border-style: solid;
			border-color: #DBC69D;
			border-width: 0px;
			border-bottom-width:1px;
			border-left-width: 1px;
			border-right-width: 1px;
	}			

.boxShadowMiddle {
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			border-style: solid;
			border-color: #C6B28C;
			border-width: 0px;
			border-bottom-width:1px;
			border-left-width: 1px;
			border-right-width: 1px;
	}			

.boxShadowInside {
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			border-style: solid;
			border-color: #AF9E7C;
			border-width: 0px;
			border-bottom-width:1px;
			border-left-width: 1px;
			border-right-width: 1px;
	}			
	
.boxNewsOutside {
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			border-style: solid;
			border-color: #000000;
			border-width: 0px;
			border-bottom-width:1px;
			border-right-width: 1px;
	}		
	
.boxNewsMiddle {
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			background-color: #E7CFA3;
			border-style: solid;
			border-color: #8A7649;
			border-width: 0px;
			border-bottom-width:1px;
			border-top-width:0px;
			border-left-width:1px;
			border-right-width:1px;
 			line-height:140%;
	}	

	
.boxNewsInside {
			font-family:arial,palatino, georgia, verdana, arial, sans-serif;
			color:#000000;
			padding:0px;
			margin-right: 0px;
			margin-bottom: 0px;
			font-size: x-small;
			font-weight: normal;
			background-color: #E7CFA3;
			background-image: url('../images/parchment/plain/light.jpg');
			border-style: solid; border-color: #F9E1B5;
			border-bottom-width:0px;
			border-top-width:1px;
			border-left-width:1px;
			border-right-width:1px;
 			line-height:140%;
	}

.boxSurroundOutside {

			border-style: solid;
			border-bottom-color: #2D2000;
			border-right-color: #2D2000;
			border-top-color: #665800;
			border-left-color: #665800;			
			border-width: 1px;
}	
	
.boxSurroundInside {

			border-style: solid;
			border-color: #BAAC6D;
			border-width: 1px;
}
	
.guideHeader {
		position: relative; top: 1px;
	}

.postBody {

			padding:10px;
			line-height:140%;


	}


.sidebar {
			font-family:arial,palatino, georgia, verdana, arial, sans-serif;
			color:#200F01;
			padding:0px;
			background-color: #E7CFA3;
			font-size: 10pt;
			font-weight: normal;
			background-image: url('../images/parchment/plain/light.jpg');
			border-style: solid; border-color: #000000; border-width: 0px; border-bottom-width:1px; border-top-width:1px;

 			line-height:140%;
	}

.lightBoxBorder { border-width: 1px; border-style: dotted; border-color: black; }


.lightBoxBody   { background-color: #F8E6C2; border-width: 1px; border-style: solid; border-color: black; background-image: url('../images/parchment/plain/light3.jpg'); }

.header { background-color: #5F1208; background-image: url('../images/parchment/plain/light3/parchborder/parchborder-top.gif'); width: 100%; margin: 0px; border: 0px solid black; }

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: bold;
		text-decoration: underline;
	}

	.large {
		font-size: 12pt;
	}

	.small {
		font-size: 7pt;
	}

	.smallError {
		font-size: 8pt;
		font-weight: bold;
		color: #FF0000;
	}



	A.yellow			{ color: #CBA300; text-decoration: underline; font-weight: bold;}
	A.yellow:link		{ color: #CBA300; text-decoration: underline; font-weight: bold;}
	A.yellow:visited	{ color: #CBA300; text-decoration: underline; font-weight: bold;}
	A.yellow:active		{ color: #FFFFFF;  }
	A.yellow:hover		{ color: #FFFFFF;  }

	a.menuLeft:link		{ 	
			font-family:  arial,verdana, sans-serif;
			color: CBA300;
			font-size: 8pt;
			line-height:140%;
			font-weight:bold;
			display: block;
			}
	a.menuLeft:visited 	{
			font-family:  arial,verdana, sans-serif;
			font-size: 8pt;
			line-height:140%;
			font-weight:bold;color: #CBA300; display: block;}
	a.menuLeft:hover	{ 
			font-family:  arial,verdana, sans-serif;
			font-size: 8pt;
			line-height:140%;
			font-weight:bold;color: #ffffff;
			background-color: #0B2237;
			display: block;}
	a.menuLeft:active 	{ 
			line-height:140%;
			font-family:  arial,verdana, sans-serif;
			font-size: 8pt;
			font-weight:bold;	
			color: #FFFFFF; display: block;}	

	.menuLeftOff {
			font-family:  arial,verdana, sans-serif;
			text-decoration: underline;
			color: CBA300;
			font-size: 8pt;
			line-height:140%;
			font-weight:bold; display: block;	
	}

	.menuLeftOver {
			font-family:  arial,verdana, sans-serif;
			text-decoration: underline;
			color: FFFFFF;
			font-size: 8pt;
			line-height:140%;
			font-weight:bold;
			display: block;	
	}
			
	.grey {
		color: #CFCFCF;
	}

	.blood {
		color: #640909;
	}

	TD.menuHeader 	{  color: #CBA300; font-size: 8pt; font-family: arial,helvetica,sans-serif; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C;}
	TD.headerOutline 	{ border-style: solid; border-width: 1px; border-color: #271A13; padding: 2px;}

	a.button:link		{ color: #CBA300; display: block; padding: 1px; }
	a.button:visited 	{ color: #CBA300; display: block; padding: 1px; }
	a.button:hover		{ color: #ffffff; background-color: #565553; display: block; padding: 1px;}
	a.button:active 	{ color: #FFFFFF; display: block; padding: 1px; }

TD.row		{ padding: 2px; background-image: url('../images/parchment/plain/light3.jpg'); background-color: #161616; border-style: solid; border-width: 1px; border-color: #000000 #000000 #161616 #161616; font-size: 10pt; text-align: left; vertical-align: top; }
TD.rowAlt 	{ padding: 2px; background-image: url('../images/parchment/plain/light3.jpg'); background-color: #252525; border-style: solid; border-width: 1px; border-color: #000000 #000000 #252525 #252525; font-size: 10pt; text-align: left; vertical-align: top;}

TD.tableHeader 	{ background-color: #393731; background-image: url('../images/backgrounds/thread-topic-bg2.gif'); border-style: solid; border-width: 1px; border-color: #8F8F8F #8F8F8F #171511 #171511; font-size: 10pt; font-weight: bold; color: #ffffff; }
TD.tableOutline    { border-style: solid; border-width: 1px; border-color: #343434; }

td.listrow 		{ font-family: Arial,Helvetica,Sans-Serif; font-size: x-small; background-image: url('../images/parchment/plain/dark2.jpg'); border-style: solid; border-width: 1px; border-color: #F9E1B5;}
td.listrowAlt 	{ font-family: Arial,Helvetica,Sans-Serif; font-size: x-small; background-image: url('../images/parchment/plain/dark.jpg'); border-style: solid; border-width: 1px; border-color: #F9E1B5;}
td.listrowLite 		{ font-family: Arial,Helvetica,Sans-Serif; font-size: x-small; background-image: url('../images/parchment/plain/light3.jpg'); border-style: solid; border-width: 1px; border-color: #F9E1B5;}

table.listOuter  { border-style: solid; border-width: 1px; border-color: #000000 #8A7649 #8A7649 #8A7649; }
table.listOuter2 { border-style: solid; border-width: 0px 1px 1px 0px; border-color: #000000; }

A.title2			{ font-family: arial, palatino, georgia, times new roman, serif; font-size: 11pt; color: #640909; text-decoration: underline; font-weight: bold;}
A.title2:link		{ font-family: arial, palatino, georgia, times new roman, serif; font-size: 11pt; color: #640909; text-decoration: underline; font-weight: bold;}
A.title2:visited	{ color: #CFCFCF;  }
A.title2:active		{ color: #FFFFFF;  }
A.title2:hover		{ color: #C60000;  }

.title2	{
	font-family:  palatino, georgia, times new roman, serif;
	font-size: 11pt;
	color: #640909;
}

.newspost1 { border-style: solid; border-width: 1px; border-color: #000000 #8A7649 #8A7649 #8A7649; margin-right: 13px; }
.newspost2 { border-style: solid; border-width: 0px 1px 1px 0px; border-color: #000000; background-image: url('../images/parchment/plain/light.jpg'); }
.newspost3 { border-style: solid; border-width: 1px; border-color: #F9E1B5; font-family:arial,palatino, georgia, verdana, arial, sans-serif; }
.newspost4 { background-image: url('../images/headers/header-left2.jpg'); background-repeat: repeat-y; padding: 2px 4px 4px 4px; border-style: solid; border-width: 0px 0px 1px 0px; border-color: #F9E1B5; }

/* definition for transparent pngs */
img.tpng { 
	behavior: url("pngBehavior.htc"); 
}